$tablet: 762px; //タブレット
$smap: 480px; //スマフォ

body {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Libre Franklin", sans-serif, "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 2;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

img {
  padding: 0;
  margin: 0;
}
h2 {
  font-weight: 300;
}
.h1_thin {
  font-weight: 300;
}
/****************************************
          footer
*****************************************/
footer {
  z-index: 10;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 105px 0 0;
  width: 100%;
  height: 150px;
  background-color: rgb(125, 240, 255);
  text-align: center;
  .footer_list {
    display: inline-block;
    margin: 0 auto;
    a {
      margin: 0 5px;
      color: white;
    }
  }
}
.icon_circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgb(0, 209, 236);
  border: solid 3px rgb(0, 209, 236);
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  &:hover {
    background: rgb(0, 209, 236);
    border: solid 3px #fff;
    transition: 0.5s;
  }
}
/****************************************
          to the top(page)
*****************************************/
.ttt {
  z-index: 20;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(0, 102, 255);
  opacity: 0;
  border: solid 2px #fff;
  line-height: 50px;
  color: white;
  text-align: center;
  transition: all 0.6s ease-out;
  &:hover {
    background: rgb(46, 130, 255);
    transition: 0.25s;
  }
}

/****************************************
          contents
*****************************************/
.content {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  color: #000;
}

.bg {
  position: relative;
  padding: 60px 18vw;
  margin: 0 auto;
}
#bg2 {
  background-color: #e5e5e5;
  color: #000;
}
#bg3 {
  background-color: #566277;
  color: #fff;
}
#bg4 {
  padding: 70px 18vw;
  background-color: #5a719c;
  color: #fff;
}
#bg_red {
  background-color: #850000;
  color: #fff;
}
#bg_black {
  background-color: black;
  color: #fff;
}
#bg_s_color {
  z-index: 1;
  background: linear-gradient(#6ad9f5, #4faceb, #07346b, #000e1f);
}
#bg_s {
  z-index: 10;
  color: #fff;
}

.bg_center {
  z-index: 3;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.bg_other {
  position: relative;
  padding: 30px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: $tablet) {
  body {
    font-size: 1em;
    line-height: 1.8;
  }
  .bg,
  #bg2,
  #bg3,
  #bg4,
  #bg_s {
    padding: 60px 5vw;
  }
}

.icon {
  display: inline-block;
  margin: 10px;
}

.line {
  border-bottom: 1px solid #9e9e9e;
}
.line_white {
  border-bottom: 1px solid #fff;
}

//一覧に戻る
.back {
  margin: 22vh 0 35vh;
  @media screen and (max-width: $tablet) {
    margin: 22vh 0 50vh;
  }
  a {
    color: rgb(0, 102, 255);
    &:hover {
      color: rgb(0, 225, 255);
    }
  }
}

/****************************************
          top page
*****************************************/
/*スクロールダウン全体の場所*/
.scrolldown {
  z-index: 5;
  position: absolute;
  left: 50%;
  bottom: 1%;
  height: 50px;
  &::after {
    // 線の描写
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 30px;
    background: rgb(255, 255, 255);
    /*線の動き1.4秒かけて動く。ループ*/
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
  }
}
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
.scroll_::after {
  background: rgb(0, 0, 0);
}
//Scrollテキストの描写
#scrolldown_text {
  position: absolute;
  top: -15px;
  left: -15px;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.SawadaHaruka {
  display: none;
}

.video-wrap {
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  #video {
    display: block !important; //パソコン
    margin: 50vh 50vw;
    transform: translate(-50%, -50%);
    @media screen and (max-width: $smap) {
      display: none !important; //スマホでは消す
    }
  }
}
.smap_logo {
  display: none !important;
  width: 100%;
  margin: 50vh 50vw;
  transform: translate(-50%, -50%);
  @media screen and (max-width: $smap) {
    display: block !important;
  }
}

#svgStage_anime {
  z-index: 1;
  position: relative;
  margin-top: 100px;
  width: 100%;
  #msg {
    z-index: 3;
    position: absolute;
    margin: 60px 20vw;
    width: 60vw;
    text-align: center;
    @media screen and (max-width: $smap) {
      margin: 60px 5vw;
      width: 90vw;
      text-align: left;
    }
  }
}

/****************************************
          logo_area
*****************************************/
.logo_aiz {
  position: relative;
  margin-top: 120px;
  text-align: center;
  img {
    width: 55%;
    @media screen and (max-width: $tablet) {
      width: 80%;
    }
  }
}
.logo_area {
  position: relative;
  margin-top: 120px;
  text-align: center;
  @media screen and (max-width: $tablet) {
    margin-top: 70px;
    width: calc(100vw - 15px);
  }
  img {
    width: 33%;
    @media screen and (max-width: $tablet) {
      width: 80%;
    }
  }
}

/****************************************
          img
*****************************************/
.photo {
  text-align: center;
  img {
    width: 100%;
  }
}
/****************************************
          Aiz
*****************************************/
.svg_pic {
  margin: 0 auto;
  width: 80%;
  height: auto;
  @media screen and (max-width: 683px) {
    width: 100%;
  }
}

.aiz_pp {
  position: relative;
  display: inline-block;
  width: 24%;
  height: auto;
  @media screen and (max-width: 683px) {
    width: 32%;
  }
  p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

/****************************************
          IchigoIchie
*****************************************/
.img_i {
  text-align: center;
  img {
    width: 50vw;
    @media screen and (max-width: $tablet) {
      width: 100vw;
    }
  }
}

/****************************************
          Shinkai2020
*****************************************/
.cjsCanvas {
  z-index: 1;
  position: absolute;
  top: 50px;
  width: 100vw;
  height: 100vh;
}

/* 透明な箱 */
#transparent {
  z-index: 2;
  position: absolute;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.button_game {
  z-index: 3;
  position: relative;
  margin: 100px 0 200px;
  text-align: center;
  img:hover {
    transform: scale(0.95);
  }
  @media screen and (max-width: $tablet) {
    img {
      max-width: 50%;
    }
  }
}

.shinkai_ui_R,
.shinkai_ui_L {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  img {
    z-index: 5;
    width: 40%;
  }
}
.pict {
  margin-left: 3vw;
}
.pict_r {
  margin-right: 3vw;
}

.shinkai_move {
  z-index: -1;
  position: relative;
  opacity: 0.5;
}

.sk1 {
  position: absolute;
  right: 100px;
  top: 22%;
}
.sk2 {
  position: absolute;
  left: 50px;
  top: 33%;
}
.sk3 {
  position: absolute;
  right: 100px;
  top: 44%;
}
.shinkai_gif {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  width: 10%;
}

/****************************************
          doosuru
*****************************************/
.triangle_bottom {
  display: inline-block;
  margin-left: 20%;
  border-style: solid;
  border-width: 24px 14px 0 14px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.under_white {
  border-bottom: solid 2px rgb(255, 255, 255);
}
.under_pink {
  border-bottom: solid 4px rgb(255, 103, 141);
}
.under_glay {
  border-bottom: solid 4px rgb(172, 172, 172);
}
.tab {
  margin-left: 50px;
  @media screen and (max-width: $tablet) {
    margin-left: 20px;
  }
}

//数字リスト
ol {
  margin-left: -40px;
  counter-reset: number; /*数字をリセット*/
  list-style-type: none !important; /*数字を一旦消す*/
  li {
    position: relative;
    padding: 0 0 0 50px;
    &:before {
      /* 数字をつける */
      position: absolute;
      counter-increment: number;
      content: counter(number);
      /*上下中央寄せ*/
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block;
      /*数字のデザイン変える*/
      background: #ff5d78;
      border-radius: 50%;
      left: 0;
      width: 40px;
      height: 40px;
      color: white;
      font-size: 15px;
      line-height: 40px;
      text-align: center;
    }
  }
}

ol.ol_red li:before {
  background: #c1272d;
}

//リンクボタン
.btn {
  z-index: 99;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn_link {
  padding: 1.4rem 4vw;
  border-radius: 0;
  border: 2px solid #000;
  color: #000;
  &:hover {
    background: #000;
    color: #fff;
  }
}
/****************************************
          chaser
*****************************************/
.under_red {
  border-bottom: solid 4px #c1272d;
}
#timeup_pa {
  position: relative;
}
#timeup_ch {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  h1 {
    margin: 0;
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
  }
}

/****************************************
          produtch
*****************************************/
.bg_chat {
  position: relative;
  padding: 50px 0 200px;
  margin: 0 auto;
  background-color: #e0f7da;
  text-align: center;
  @media screen and (max-width: $tablet) {
    padding: 1px 0 100px;
  }
}
.point {
  position: relative;
  left: 5vw;
  margin: 5vh 0;
  width: 20%;
  @media screen and (max-width: $tablet) {
    left: 2vw;
  }
  img {
    width: 80%;
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}
/****************************************
          others
*****************************************/
.img_ow {
  display: inline-block;
  margin: 10vh 2vw;
  width: 45%;
  height: auto;
  @media screen and (max-width: $tablet) {
    margin: 5vh 2vw;
    width: 100%;
    height: auto;
  }
  img {
    display: flex;
    width: 100%;
  }
  p {
    color: #636363;
    font-size: 15px;
    text-align: left;
  }
}

/****************************************
          works / icon
*****************************************/
.works {
  position: absolute;
}
.page_top {
  position: relative;
  margin: 200px auto 100px;
  text-align: center;
  @media screen and (max-width: $smap) {
    margin: 120px auto 100px;
  }
}
.bg_works {
  position: relative;
  display: inline-block;
  margin: 0 16vw 5vw;
  @media screen and (max-width: $smap) {
    margin: 0 0 20vh;
  }
}

.thumbnail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 calc(25vw * 2);
  li {
    position: relative;
    float: left;
    margin: 2vw 0;
    width: calc(100% / 3);
    list-style: none;
    &:hover .icon_box img {
      transform: scale(1.08);
    }
    &:hover .caption {
      opacity: 1;
    }
    @media screen and (max-width: $smap) {
      margin: 20px;
      width: 100%;
      height: 100%;
      &:hover {
        transform: scale(1);
      }
    }
  }
}

.icon_box {
  position: relative;
  float: left;
  width: 20vw;
  height: 20vw;
  border-radius: 20px;
  overflow: hidden; /*画像拡大時にはみ出た部分を隠す*/
  img {
    border-radius: 20px;
    width: 20vw;
    height: 20vw;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
  }
  @media screen and (max-width: $smap) {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.caption {
  position: absolute;
  opacity: 0;
  transition: all 0.45s ease-in-out;
  .blur {
    z-index: 5;
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
  }
  .caption-text {
    z-index: 6;
    position: absolute;
    width: 20vw;
    height: 20vw;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 23px;
    }
  }
  @media screen and (max-width: $smap) {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    .blur {
      width: 100%;
      height: 100%;
      background-color: rgba(196, 70, 70, 0);
    }
    .caption-text {
      position: relative;
      top: 1vw;
      width: 100%;
      height: 100%;
      text-align: left;
      color: black;
    }
  }
}
/*safariでは四角にする*/
_::-webkit-full-page-media,
_:future,
:root .icon_box {
  border-radius: 0px;
}
_::-webkit-full-page-media,
_:future,
:root .icon_box img {
  border-radius: 0px;
}
_::-webkit-full-page-media,
_:future,
:root .blur {
  border-radius: 0px;
}

/****************************************
          about me
*****************************************/
.me {
  position: absolute;
  left: 65vw;
  margin-bottom: 100px;
  img {
    padding: 1vw 3vw 0;
    width: 30%;
    border: solid 4px rgb(18, 32, 94);
  }
  /*スマホ*/
  @media screen and (max-width: $smap) {
    position: relative;
    left: 0;
    text-align: center;
    img {
      padding: 1vw 10vw 0;
      width: 50%;
    }
  }
}
.link_otherWorks {
  text-decoration-line: none;
  color: rgb(0, 102, 255);
  &:hover {
    text-decoration-line: underline;
  }
}

/****************************************
          astrohoop
*****************************************/
#body_ah {
  background-color: #000;
}
#content_ah {
  background-color: #000;
  color: #fff;
}
.main_img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 10vh 0;
}
#bg_ah {
  background-color: #000;
  line-height: 2;
  @media screen and (max-width: $tablet) {
    padding: 4vw;
  }
}
.bg_ss {
  padding-bottom: 200px;
}
.bg_movie {
  margin: 100px 18vw;
  background-color: #000;
  @media screen and (max-width: $tablet) {
    margin: 0;
  }
  .movie {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.line_white {
  border-bottom: 1px solid #fff;
}

/****************************************
          header
*****************************************/
.header {
  z-index: 100;
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  transition: all 0.5s;
}
//ロゴの大きさを調整
#logo img {
  margin-top: 10px;
  max-width: 250px;
  @media screen and (max-width: $tablet) {
    margin-top: 7px;
    max-width: 80%;
  }
}

nav {
  position: relative;
  width: 100%;
  height: 70px;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.drawer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1em;
}

/*ナビゲーション部分*/
.menu_item li {
  display: inline-block;
  padding: 0px;
  font-size: 30px;
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
    font-size: 25px;
  }
}

.menu {
  padding: 100px 0 250px;
  text-align: center;
  background: #92eadf;
  transition: 0.5s ease-out; /*滑らかに表示*/
  transform: translateY(-150%); /*画面より100%外へ押し出し非表示にさせる*/
  -webkit-transform: translateY(-150%);
  li {
    display: block;
    padding: 2em;
    font-weight: bold;
    text-decoration: none;
  }
  @media screen and (min-width: $tablet) {
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    transform: translateY(0); /*画面より100%外へ押し出し非表示にさせる*/
    -webkit-transform: translateY(0%);
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      height: 70px;
      li {
        padding: 0 1em;
        border-bottom: none;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
.menu.open {
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%); /*メニューを元の位置へ戻す*/
}

/*トグルボタンのスタイルを指定*/
.Toggle {
  z-index: 3;
  position: fixed; /* bodyに対しての絶対位置指定 */
  right: 15px;
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  span {
    position: absolute;
    display: block;
    width: 35px;
    border-radius: 2px;
    border-bottom: solid 2px rgb(0, 0, 0);
    -webkit-transition: 0.35s ease-in-out; /*変化の速度を指定*/
    -moz-transition: 0.35s ease-in-out; /*変化の速度を指定*/
    transition: 0.35s ease-in-out; /*変化の速度を指定*/
    /*各ボーダー少しずつずらす*/
    &:nth-child(1) {
      top: 5px;
    }
    &:nth-child(2) {
      top: 16px;
    }
    &:nth-child(3) {
      top: 28px;
    }
  }
}
.Toggle.active span {
  border-bottom: solid 2px rgb(0, 0, 0);
  /* 1番目のspanをマイナス45度に */
  &:nth-child(1) {
    top: 16px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* 2番目と3番目のspanを45度に */
  &:nth-child(2),
  &:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media screen and (min-width: $tablet) {
  .underline {
    background: linear-gradient(to right, #ff003d, #ff003d);
    background-repeat: no-repeat;
    background-size: 0% 12%;
    background-position: bottom;
    transition: all 0.25s ease-in;
    &:hover {
      background-size: 100% 12%;
    }
  }
}
