 /*ロゴの大きさを調整*/
#logo img {
  margin-top: 7px;
  max-width:80%;
}
 
nav{
 width: 100%;
 height: 70px;
 position: relative;
}
 
.drawer{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 position: relative;
 height: 70px;
 padding: 0 1em;
}
 
/*ナビゲーション部分*/
 
.menu ul li {
  display:block;
  font-weight:bold;
  padding: 2em;
  text-decoration:none;
}

.menu-item {
  display: inline-block;
  font-size: 30px;
  padding: 0px;
}

 
.menu{
  padding-top: 90px;
  padding-bottom: 250px;
  text-align:center;
  background-color:#92eadf;
  transition: 0.5s ease-out;/*滑らかに表示*/
  transform: translateY(-150%);/*画面より100%外へ押し出し非表示にさせる*/
  -webkit-transform: translateY(-150%);
}
 
/*OPEN時の動き*/
.menu.open {
 -webkit-transform: translateY(-10%);
 transform: translateY(-10%);/*メニューを元の位置へ戻す*/
}
 
/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
  right:15px;
}
 
.Toggle span {
    display: block;
    position: absolute;
    width: 35px;
    border-radius: 2px;
    border-bottom: solid 2px rgb(0, 0, 0);
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
}
 /*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) {
    top:5px;
}
 .Toggle span:nth-child(2) {
    top: 16px;
}
 .Toggle span:nth-child(3) {
    top: 28px;
}
.Toggle.active span:nth-child(1) {
    top: 16px;
/* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
 
/*----------------------------------ここからPCモニターの記述-----------*/
@media screen and (min-width: 762px) {
 
/*ロゴの大きさを調整*/
#logo img {
  margin-top: 10px;
  max-width: 250px;
}
	
nav{
 display: flex;
}
 
.Toggle{
 display: none;
}
.menu{
  width: 100%;
  background-color: transparent;
  margin:0;
  padding: 0px;
  transform: translateY(0);/*画面より100%外へ押し出し非表示にさせる*/
  -webkit-transform: translateY(0%);
}

.menu-item {
  font-size: 25px;
  margin-right: 20px;
}
.menu-item a:hover{
  color:rgb(255, 0, 61);
  transition: 0.25s;
}
.underline{
  background: linear-gradient(to right, #ff003d, #ff003d);
	background-repeat: no-repeat;
	background-size: 0% 8%;
  background-position: bottom;
	transition: all 0.25s ease-in;
}
.underline:hover{
	background-size: 100% 8%;
}

.menu ul{
 height: 70px;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 align-items: center;
}
.menu ul li{
 padding: 0 1em;
 border-bottom: none;
}
.menu ul li:hover{
background-color:transparent;
}

}
