body {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;

  font-family: "Libre Franklin", sans-serif, "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 2;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

img {
  margin: 0;
  padding: 0;
}

/****************************************
          header
*****************************************/
.header {
  z-index: 100;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  transition: all 0.5s;
}

/****************************************
          to the top(page)
*****************************************/
.ttt {
  z-index: 3;
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.6s ease-out;
}
.ttt img {
  transition: 0.6s ease-out;
}
.ttt img:hover {
  opacity: 0.5;
}
/****************************************
          contents
*****************************************/
.content {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: #ffffff;
  color: #000;
  width: 100%;
}

.SawadaHaruka {
  display: none;
}

#svgStage {
  z-index: 1;
  position: relative;
}

.bg {
  margin: 0 auto;
  padding: 0 18vw 120px;
  position: relative;
}

.bg2 {
  color: #ffffff;
  margin: 0 auto;
  padding: 60px 18vw;
  background-color: #042d75;
  position: relative;
}

.bg3 {
  color: #ffffff;

  margin: 0;
  padding: 60px 18vw;
  background-color: #313949;
  position: relative;
}

.bg4 {
  color: #ffffff;
  margin: 0;
  padding: 70px 18vw;
  background-color: #476194;
  position: relative;
}

.bg_s_color {
  z-index: 1;
  background: linear-gradient(#b2f0ff, #4faceb, #07346b, #000e1f);
}
.bg_s {
  position: relative;
  color: #ffffff;
  margin: 0;
  padding: 0 20vw 120px;
}

.bg_other {
  text-align: center;
  padding: 30px;
  position: relative;
  margin-top: 30px;
}

@media screen and (max-width: 762px) {
  body{
    line-height: 1.8;
    font-size: 1em;
  }
  .bg,.bg2,.bg3,.bg4,.bg_s{
    padding: 5vw;
  }
}

.icon {
  position: static;
  margin: 10px;
  display: inline-block;
}

.line {
  border-bottom: 1px solid #9e9e9e;
}
/****************************************
          logo_area
*****************************************/
.logo_aiz {
  position: relative;
  text-align: center;
  margin-top: 120px;
}
.logo_aiz img {
  margin: 50px;
  width: 55%;
}
.logo_area {
  position: relative;
  text-align: center;
  margin-top: 120px;
}
.logo_area img {
  margin: 50px;
  width: 33%;
}
@media screen and (max-width: 762px) {
  .logo_aiz img {
    width: 80%;
  }
  .logo_area {
    width: calc(100vw - 15px);
    margin-top: 70px;
  }
  .logo_area img {
    width: 80%;
  }
}

/****************************************
          img
*****************************************/
.photo {
  text-align: center;
}
.photo img {
  width: 100%;
}

/****************************************
          Aiz
*****************************************/
.svg_pic {
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.aiz_pp {
  display: inline-block;
  position: relative;

  margin: auto;
  width: 24%;
  height: auto;
}

.aiz_pp p {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 683px) {
  .svg_pic {
    width: 100%;
  }
  .aiz_pp {
    width: 32%;
  }
}
/****************************************
          IchigoIchie
*****************************************/
.img_i {
  text-align: center;
  padding: 0;
  margin: 0;
}
.img_i img {
  width: 50vw;
}

@media screen and (max-width: 762px) {
  .img_i img {
    width: 100vw;
  }
}
/****************************************
          Shinkai2020
*****************************************/
.cjsCanvas {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
}

/* 透明な箱 */
#transparent{
  z-index: 2;
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.button_game {
  z-index: 3;
  position: relative;
  text-align: center;
  margin: 100px 0 200px;
  padding: 0;
}
.button_game img:hover {
  transform: scale(0.95);
}
.shinkai_gif{
  display: inline-block;
  width: 20%;
  margin: 10px;
  position: relative;
}

@media screen and (max-width: 762px) {
  .button_game img {
    max-width: 50%;;
  }
}

/****************************************
          doosuru
*****************************************/
.triangle-bottom {
  margin-left: 20%;
  display: inline-block;
  border-style: solid;
  border-width: 24px 14px 0 14px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.under_white{
  border-bottom: solid 2px rgb(255, 255, 255);
}
.under_pink {
  border-bottom: solid 4px rgb(255, 103, 141);
}
.under_glay {
  border-bottom: solid 4px rgb(172, 172, 172);
}
.tab{
  margin-left: 50px;
}

ol {
  counter-reset: number; /*数字をリセット*/
  list-style-type: none !important; /*数字を一旦消す*/
  margin-left: -40px;
}
ol li {
  position: relative;
  padding: 0 0 0 50px;
}
ol li:before {
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display: inline-block;
  background: #ff5d78;
  color: white;
  font-size: 15px;

  border-radius: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link_to_demo {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  margin: 2vw;

  border-radius: 10px;

  transition: box-shadow, transform 0.5s;
  box-shadow: 7px 7px 15px rgba(0, 60, 90, 0.3),
    -7px -7px 15px rgb(255, 255, 255), inset 7px 7px 15px transparent,
    inset -7px -7px 15px transparent;

  font-size: 20px;
  color: #192944;
}

.link_to_demo:hover {
  box-shadow: 7px 7px 15px rgba(0, 60, 90, 0.3),
    -7px -7px 15px rgb(255, 255, 255), inset 7px 7px 15px rgba(0, 60, 90, 0.3),
    inset -7px -7px 15px rgb(255, 255, 255);
  transform: scale(0.99);
  color: #9e9e9e;
}

@media screen and (max-width: 762px) {
  .tab{
    margin-left: 20px;
  }

  .link_to_demo {
    padding: 15px;
    margin: 1vw;
  }
}

/****************************************
          kk
*****************************************/
.bg_chat{
  padding:50px 0 200px;
  margin: 0 auto;
  background-color: #e0f7da;
  position: relative;
  text-align: center;
}
.point{
  position: relative;
  left:5vw;
  width:20%;
  margin:100px 0;
}
.point img{
  width:80%;
}
@media screen and (max-width: 762px) {
  .bg_chat{
    padding:50px 0 100px;
  }
  .point{
    left:2vw;
  }
  .point img{
    width:100%;
  }
}

/****************************************
          others
*****************************************/
.img_ow {
  display: inline-block;

  width: 45%;
  height: auto;
  margin: 10vh 2vw;
}
.img_ow img {
  width: 100%;
  display: flex;
}

.img_ow p {
  text-align: left;
  font-size: 15px;
  color: #636363;
}

/* ウィンドウ幅*/
@media screen and (max-width: 762px) {
  .img_ow {
    width: 100%;
    height: auto;
    margin: 5vh 2vw;
  }
}

/****************************************
          works / icon
*****************************************/
.bg_works {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.page_top {
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
}

.thumbnail {
  padding-bottom: 200px;
}

.thumbnail li {
  list-style: none;
  display: inline-block;
  margin: 20px auto;
  padding: 0;
  width: calc(98% / 3);
}

.icon_box {
  position: relative;
  top: 100px;
  margin: 0 auto;

  border-radius: 20px;
  width: 25vw;
  height: 25vw;
  overflow: hidden; /*画像拡大時にはみ出た部分を隠す*/
}
/*safariでは四角にする*/
_::-webkit-full-page-media,
_:future,
:root .icon_box {
  border-radius: 0px;
}

.icon_box img {
  border-radius: 20px;
  width: 25vw;
  height: 25vw;
  margin: 0px;

  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.5s;
}
/*safari*/
_::-webkit-full-page-media,
_:future,
:root .icon_box img {
  border-radius: 0px;
}

.icon_box img:hover {
  transform: scale(1.08);
}


.me{
  position: relative;
}
.me img {
  width: 80%;
}

/* ウィンドウ幅が狭いとき*/
@media screen and (max-width: 762px) {
  .thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .thumbnail li {
    width: 100%;
    height: 100%;
    margin: 20px;
  }

  .icon_box {
    width: 100%;
    height: 100%;
  }
  .icon_box img {
    width: 100%;
    height: 100%;
  }
  .icon_box img:hover {
    transform: scale(1);
  }

  .me img {
    width: 100%;
  }
}


h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.h1_thin{
  font-weight: 300;
}