body {
  padding: 0;
  margin: 0 auto;
  background-color:#fff;

  font-family: 'Noto Sans JP', sans-serif;
  font-weight:300;
}

a{
  text-decoration: none;
  color:#000000;
}

ul{
  margin:0;
  padding:0;
}

li{
  margin:0;
  padding:0;

  list-style: none;
}

img{
  margin:0;
  padding:0;
}

/****************************************
          header
*****************************************/
.header {
  z-index: 100;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  /* background-color: #93dbec; */
  transition: all 0.5s;
}

.gtt_img{
  margin-right: auto;
  margin-left : 2vw;
  padding:0px;
}
.menu-group{
  margin-right: 1vw;
  margin-left : auto;
}

.menu-item {
  display: inline-block;

  font-family : "arial black" ,"sans-serif";
  font-size: 20px;

  padding: 0px;
  margin-right: 20px;
}

.menu-item a:hover{
  color:rgb(255, 19, 19);
  transition: 0.25s ;
}

.underline{
  background: linear-gradient(to right, #ff6363, #05ddd2);
  /* background:#ffffff; */
	background-repeat: no-repeat;
	background-size: 0% 12%;
  background-position: bottom;
	transition: all 0.25s ease-in;
}
.underline:hover{
	background-size: 100% 12%;
}

/* ウィンドウ幅が0〜480pxの場合に適用するCSS */
@media screen and ( max-width:480px )
{
  .gtt_img{
    margin-right: auto;
    margin-left : 2vw;
    padding:0px;
  }

  .menu-item {
    list-style: none;
    display: inline-block;
    
    font-family : "arial black" ,"sans-serif";
    font-size: 14px;
    padding: 0px;
    margin-right: 3vw;
  }
}
/****************************************
          to the top
*****************************************/
.ttt{
  z-index: 100;
  display: flex;
  position: fixed;
  bottom:10px;
  right:10px;
  opacity:0;
  transition: all 0.6s ease-out;
}
.ttt img{
  transition: 0.6s ease-out;
}
.ttt img:hover{
  opacity:0.5;
}
/****************************************
          contents
*****************************************/
.content{
  margin:0 auto;
  padding:0;
  position: relative;
  background-color: #e9eff7;
  color:#000; 
  width:100%;
}

.stage {
  position: relative;
  text-align: center;
}

#svgStage{
z-index: 1;
position: relative;
}

.bg{
  line-height:1.8;

  margin:0 auto;
  padding:0 18vw 120px;
  position: relative;
}

.bg2{
  color:#e1f5f5;
  line-height: 2.2;

  margin:0 auto;
  padding:50px 20vw;
  background-color:#042d75; 
  position: relative;
}

.bg3{
  color:#e1f5f5;
  line-height: 1.8;

  margin:0;
  padding:60px 20vw;
  background-color:#313949; 
  position: relative;
}

.bg_s_color{
  background: linear-gradient( #b2f0ff,#4faceb, #07346b, #000e1f);
}
.bg_s{
  position: relative;
  color:#ffffff;
  line-height:1.8;
  margin:0;
  padding:0 20vw 120px;
}

.cjsCanvas{
  position: absolute;
  margin:0;
  top:50px;
  padding:0;
}

.bg_other{
  text-align:center;
  padding:30px;
  position: relative;
  margin-top:30px;
}

@media screen and ( max-width:762px )
{
  .bg{
    padding:5vw;
  }
  .bg2{
    padding:5vw;
  }
  .bg3{
    padding:5vw;
  }
  .bg_s{
    font-size:14px;
    padding:5vw;
  }
}

.icon{
  position: static;
  margin: 10px;
  display: inline-block;
}

.line{
  border-bottom: 1px solid #9e9e9e;
}
/****************************************
          logo_area
*****************************************/
.logo_area{
  margin-top:120px;
  text-align: center;
}

.logo_area img{
  margin:50px;
  width:33%;
}
@media screen and ( max-width:762px )
{
  .logo_area{
    margin-top:70px;
    text-align: center;
  }

  .logo_area img{
    width:80%;
  }
}

/****************************************
          img
*****************************************/
.photo{
  text-align: center;
}
.photo img{
  width:100%;
}

/****************************************
          Aiz
*****************************************/
.svg_pic {
  margin: 0 auto;
  width:80%;
  height:auto;
}

.aiz_pp{
  display:inline-block;
  position: relative;

  margin:auto;
  width:24%;
  height:auto;
}

.aiz_pp p{
display: flex;
text-align: center;
flex-wrap:wrap;
}

@media screen and ( max-width:683px ){
  .svg_pic{
    width:100%;
  }
  .aiz_pp{
    width:32%;
  }
}
/****************************************
          IchigoIchie
*****************************************/
.img_i{
  text-align: center;
}
.img_i img{
  width:50%;
}

@media screen and ( max-width:762px ){
  .img_i img{
    width:100%;
  }
}
/****************************************
          Shinkai2020
*****************************************/
.logo_s{
  position: absolute;
  top: 10%;
  left: 8%;

  max-width: 300px;
  width: auto;
  height:auto;
  min-height:200px;
}
.button_game{
  position: relative;
  text-align: center;
  margin:100px auto 200px;
  padding:0;
}
.button_game img:hover{
  transform: scale(0.95);
}

/****************************************
          doosuru
*****************************************/
.link_to_demo{
  text-align: center;
  background-color:  #e9eff7;
  padding:30px;
  margin:2vw;

  border-radius: 10px;

  transition: box-shadow ,transform 0.5s;
  box-shadow:
  7px 7px 15px rgba(0, 60, 90, 0.3),
  -7px -7px 15px rgb(255, 255, 255),
  inset 7px 7px 15px transparent,
  inset -7px -7px 15px transparent;
  
  font-size: 20px;
  color:#192944; 
}

.link_to_demo:hover{
  box-shadow: 7px 7px 15px rgba(0, 60, 90, 0.3),
              -7px -7px 15px rgb(255, 255, 255),
              inset 7px 7px 15px rgba(0, 60, 90, 0.3),
              inset -7px -7px 15px rgb(255, 255, 255);
  transform: scale(0.99);
  color:#9e9e9e;
}

@media screen and ( max-width:762px )
{
  .link_to_demo{
    padding:15px;
    margin:1vw;
  }
}

/****************************************
          others
*****************************************/
.img_ow{
  display:inline-block;

  width:45%;
  height:auto;
  margin:10vh 2vw;
}
.img_ow img{
  width:100%;
  display:flex;
}

.img_ow p{
  text-align: left;
  font-size: 15px;
  color:#636363;
}

/* ウィンドウ幅*/
@media screen and ( max-width:762px )
{
  .img_ow{
    width:100%;
    height:auto;
    margin:5vh 2vw;
  }
}


/****************************************
          works / icon
*****************************************/
.bg_works{
  margin:0 auto;
  padding:0;
  width:90%;
}

.page_top{
  margin:0 auto;
  padding-top:150px;
  text-align: center;
}

.thumbnail{
  padding-bottom:200px;
}

.thumbnail li{
  display:inline-block;
  margin:20px auto;
  padding:0;
  width:calc(98%/3);
}

.icon_box {
  position: relative;
  top:100px;
  margin:0 auto;

  border-radius: 20px;
  width: 25vw;
  height: 25vw;
  overflow: hidden; /*画像拡大時にはみ出た部分を隠す*/
}
/*safari*/
_::-webkit-full-page-media, _:future, :root .icon_box{
  border-radius: 0px;
  }

.icon_box img{
  border-radius: 20px;
  width:25vw;
  height: 25vw;
  margin:0px;

  transform: scale(1);
  transition-property:transform;
  transition-duration: 0.5s;
}
/*safari*/
_::-webkit-full-page-media, _:future, :root .icon_box img{
  border-radius: 0px;
  }

.icon_box img:hover{
  transform: scale(1.08);
}

/* ウィンドウ幅が狭いとき*/
@media screen and ( max-width:762px )
{
  .thumbnail{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  }

  .thumbnail li{
    width:100%;
    height:100%;
    margin:20px;
  }

  .icon_box {
    width: 100%;
    height:100%;
  }
  .icon_box img{
    width: 100%;
    height:100%;
  }
  .icon_box img:hover{
    transform: scale(1);
  }

}

.me img{
  width:50%;
}
