body {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;

  font-family: "Libre Franklin", sans-serif, "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 2;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

img {
  margin: 0;
  padding: 0;
}

/****************************************
          header
*****************************************/
.header {
  z-index: 100;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  transition: all 0.5s;
}

/****************************************
          footer
*****************************************/
footer {
  z-index: 0;
  align-items: center;
  position: absolute;
  bottom:0;
  text-align: center;
  padding: 105px 0 0;
  width: 100%;
  height: 150px;
  background-color: #a6e6ff;
}

.footer_list{
  margin: 100px 20px 0;
  display: inline-block;
  color:#70747a;
  margin: 0 auto;
}
.footer_list a{
  margin: 0 5px;
}

/****************************************
          to the top(page)
*****************************************/
.ttt {
  z-index: 10;
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.6s ease-out;
}
.ttt img {
  transition: 0.6s ease-out;
}
.ttt img:hover {
  opacity: 0.5;
}
/****************************************
          スクロールを促す
*****************************************/
/*スクロールダウン全体の場所*/
.scrolldown{
z-index: 5;
position:absolute;
left:50%;
bottom:1%;
  /*全体の高さ*/
height:50px;
}
/*Scrollテキストの描写*/
.scrolldown span{
  /*描画位置*/
position: absolute;
left:-15px;
top: -15px;
  /*テキストの形状*/
color: rgb(255, 255, 255);
font-size: 0.7rem;
letter-spacing: 0.05em;
}
/* 線の描写 */
.scrolldown::after{
  content: "";
    /*描画位置*/
  position: absolute;
  top: 0;
    /*線の形状*/
  width: 1px;
  height: 30px;
  background: rgb(255, 255, 255);
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}

/****************************************
          contents
*****************************************/
.content {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.SawadaHaruka {
  display: none;
}

#svgStage{
  z-index: 3;
  position: relative;
}
#svgStage_anime{
  z-index: 1;
  position: relative;
  width: 100%;
  margin-top: 100px;
}

.video-wrap {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
#video{
  transform: translate(-50%, -50%);
  margin: 50vh 50vw;
}
#msg{
  z-index: 3;
  position: absolute;
  margin: 60px 20vw;
  text-align: center;
  width: 60vw;
}
/* パソコン*/
#video { display: block !important; }
.sp { display: none !important; 
  width: 100%;
  transform: translate(-50%, -50%);
  margin: 50vh 50vw;
}
 
/* スマートフォン*/
@media screen and (max-width: 480px) {
  #video { display: none !important; }
  .sp { display: block !important; }
}



.bg {
  margin: 0 auto;
  padding: 0 18vw 120px;
  position: relative;
}

.bg2 {
  color: #000000;
  margin: 0 auto;
  padding: 60px 18vw;
  background-color: #e5e5e5;
  position: relative;
}

.bg3 {
  color: #ffffff;

  margin: 0;
  padding: 60px 18vw;
  background-color: #566277;
  position: relative;
}

.bg4 {
  color: #ffffff;
  margin: 0;
  padding: 70px 18vw;
  background-color: #768cb8;
  position: relative;
}


.bg_s_color {
  z-index: 1;
  background: linear-gradient(#6ad9f5, #4faceb, #07346b, #000e1f);
}
.bg_s {
  position: relative;
  color: #ffffff;
  margin: 0;
  padding: 0 15vw 120px;
}

.bg_other {
  text-align: center;
  padding: 30px;
  position: relative;
  margin-top: 30px;
}

@media screen and (max-width: 762px) {
  body{
    line-height: 1.8;
    font-size: 1em;
  }
  .bg,.bg2,.bg3,.bg4,.bg_s{
    padding: 5vw;
  }
}

.icon {
  position: static;
  margin: 10px;
  display: inline-block;
}

.line {
  border-bottom: 1px solid #9e9e9e;
}
.line_w {
  border-bottom: 1px solid #fff;
}


.back {
  margin: 22vh 0 35vh;
}
.back a{
  color:#ff5d78;
}
.back a:hover{
  color:#5dc4ff;
}

/****************************************
          logo_area
*****************************************/
.logo_aiz {
  position: relative;
  text-align: center;
  margin-top: 120px;
}
.logo_aiz img {
  width: 55%;
}
.logo_area {
  position: relative;
  text-align: center;
  margin-top: 120px;
}
.logo_area img {
  width: 33%;
}
@media screen and (max-width: 762px) {
  .logo_aiz img {
    width: 80%;
  }
  .logo_area {
    width: calc(100vw - 15px);
    margin-top: 70px;
  }
  .logo_area img {
    width: 80%;
  }
}

/****************************************
          img
*****************************************/
.photo {
  text-align: center;
}
.photo img {
  width: 100%;
}

/****************************************
          Aiz
*****************************************/
.svg_pic {
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.aiz_pp {
  display: inline-block;
  position: relative;

  margin: auto;
  width: 24%;
  height: auto;
}

.aiz_pp p {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 683px) {
  .svg_pic {
    width: 100%;
  }
  .aiz_pp {
    width: 32%;
  }
}
/****************************************
          IchigoIchie
*****************************************/
.img_i {
  text-align: center;
  padding: 0;
  margin: 0;
}
.img_i img {
  width: 50vw;
}

@media screen and (max-width: 762px) {
  .img_i img {
    width: 100vw;
  }
}
/****************************************
          Shinkai2020
*****************************************/
.cjsCanvas {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
}

/* 透明な箱 */
#transparent{
  z-index: 2;
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.button_game {
  z-index: 3;
  position: relative;
  text-align: center;
  margin: 100px 0 200px;
  padding: 0;
}
.button_game img:hover {
  transform: scale(0.95);
}

.shinkai_ui_R, .shinkai_ui_L{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pict{
  width: 40%;
  margin-left: 3vw;
}
.pict_r{
  width: 40%;
  margin-right: 3vw;
}
.sp_img{
  z-index: 5;
}
.shinkai_move{
  z-index: 0;
  opacity: 0.5;
}

.sk1{
  position: absolute;
  right: 100px;
  top:22%;
}
.sk2{
  position: absolute;
  left: 50px;
  top:33%;
}
.sk3{
  position: absolute;
  right: 100px;
  top:44%;
}
.shinkai_gif{
  display: inline-block;
  width: 10%;
  margin: 0 20px;
  position: relative;
}

@media screen and (max-width: 762px) {
  .button_game img {
    max-width: 50%;;
  }
}
/****************************************
          doosuru
*****************************************/
.triangle-bottom {
  margin-left: 20%;
  display: inline-block;
  border-style: solid;
  border-width: 24px 14px 0 14px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.under_white{
  border-bottom: solid 2px rgb(255, 255, 255);
}
.under_pink {
  border-bottom: solid 4px rgb(255, 103, 141);
}
.under_glay {
  border-bottom: solid 4px rgb(172, 172, 172);
}
.tab{
  margin-left: 50px;
}

ol {
  counter-reset: number; /*数字をリセット*/
  list-style-type: none !important; /*数字を一旦消す*/
  margin-left: -40px;
}
ol li {
  position: relative;
  padding: 0 0 0 50px;
}
ol li:before {
  /* 数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display: inline-block;
  background: #ff5d78;
  color: white;
  font-size: 15px;

  border-radius: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  /*上下中央寄せ*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link_to_demo {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  margin: 2vw;

  border-radius: 10px;

  transition: box-shadow, transform 0.5s;
  box-shadow: 7px 7px 15px rgba(0, 60, 90, 0.3),
    -7px -7px 15px rgb(255, 255, 255), inset 7px 7px 15px transparent,
    inset -7px -7px 15px transparent;

  font-size: 20px;
  color: #192944;
}

.link_to_demo:hover {
  box-shadow: 7px 7px 15px rgba(0, 60, 90, 0.3),
    -7px -7px 15px rgb(255, 255, 255), inset 7px 7px 15px rgba(0, 60, 90, 0.3),
    inset -7px -7px 15px rgb(255, 255, 255);
  transform: scale(0.99);
  color: #9e9e9e;
}

@media screen and (max-width: 762px) {
  .tab{
    margin-left: 20px;
  }

  .link_to_demo {
    padding: 15px;
    margin: 1vw;
  }
}

/****************************************
          produtch
*****************************************/
.bg_chat{
  padding:50px 0 200px;
  margin: 0 auto;
  background-color: #e0f7da;
  position: relative;
  text-align: center;
}
.point{
  position: relative;
  left:5vw;
  width:20%;
  margin:5vh 0;
}
.point img{
  width:80%;
}

@media screen and (max-width: 762px) {
  .bg_chat{
    padding:1px 0 100px;
  }
  .point{
    left:2vw;
  }
  .point img{
    width:100%;
  }
}

/****************************************
          others
*****************************************/
.img_ow {
  display: inline-block;

  width: 45%;
  height: auto;
  margin: 10vh 2vw;
}
.img_ow img {
  width: 100%;
  display: flex;
}

.img_ow p {
  text-align: left;
  font-size: 15px;
  color: #636363;
}

/* ウィンドウ幅*/
@media screen and (max-width: 762px) {
  .img_ow {
    width: 100%;
    height: auto;
    margin: 5vh 2vw;
  }
}
/****************************************
          works / icon
*****************************************/
.page_top {
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}

.bg_works {
  margin: 0 10% 50vh;
  padding: 0 ;
  position: relative;
  display: inline-block;
}

.thumbnail li {
  list-style: none;
  float: left;
  margin: 2vw 0vw;
  padding: 0;
  width: calc(100% / 3);
  position: relative;
}

.icon_box{
  position: relative;
  margin: 0 auto;
  float: left;
  border-radius: 20px;
  width: 25vw;
  height: 25vw;
  overflow: hidden; /*画像拡大時にはみ出た部分を隠す*/
}

/*safariでは四角にする*/
_::-webkit-full-page-media,
_:future,
:root .icon_box {
  border-radius: 0px;
}

.icon_box img {
  border-radius: 20px;
  width: 25vw;
  height: 25vw;
  margin: 0;
  padding: 0;

  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.5s;
}


.thumbnail li:hover .icon_box img{
  transform: scale(1.08);
}
.thumbnail li:hover .caption{
  opacity: 1;
}

.caption{
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition:all 0.45s ease-in-out;
}

.blur{
  z-index: 5;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  border-radius: 20px;
  width: 25vw;
  height: 25vw;
}

.caption-text{
  z-index: 6;
  position: absolute;
  color: #fff;
  width: 25vw;
  height: 25vw;
  text-align: center;
}
.caption-text h1{
  font-size: 24px;
}

/*safari*/
_::-webkit-full-page-media,
_:future,
:root .icon_box img, .blur{
  border-radius: 0px;
}

.me{
  position: absolute;
  left:65vw;
  margin-bottom: 100px;
}
.me img {
  width: 30%;
  padding: 1vw 3vw 0;
  border: solid 4px rgb(18, 32, 94);
}

/* ウィンドウ幅が狭いとき*/
@media screen and (max-width: 480px) {
  .bg_works {
    margin: 0 0 20vh;
    padding: 0;
    width: 90%;
  }

  .thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 0 calc(25vw*2);
  }

  .thumbnail li {
    width: 100%;
    height: 100%;
    margin: 20px;
  }

  .icon_box {
    width: 100%;
    height: 100%;
  }
  .icon_box img {
    width: 100%;
    height: 100%;
  }
  .thumbnail li:hover .icon_box img{
    transform: scale(1);
  }

  .caption{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .blur{
    width: 100%;
    height: 100%;
    background-color: rgba(196, 70, 70,0);
  }
  .caption-text{
    position: relative;
    top: 1vw;
    text-align: left;
    color: black;
    width: 100%;
    height: 100%;
  }

  .me{
    position: relative;
    left: 0vw;
    text-align: center;
  }
  .me img {
    width: 50%;
    padding: 1vw 10vw 0;
  }
}


h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.h1_thin{
  font-weight: 300;
}