body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: "Libre Franklin", sans-serif, "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

a {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;

  list-style: none;
}

img {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  background-color: #000000;
}

.bg {
  line-height: 2;

  margin: 0;
  padding: 60px 18vw;
  position: relative;
  background-color: #000000;
}


.bg_ss {
  padding-bottom: 200px;
}

.bg_movie{
  margin: 100px 18vw;
  background-color: #000000;
}
.movie{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.movie iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 762px) {
  .bg {
    padding: 4vw;
  }
  .bg_movie{
    padding: 0;
  }
}


.line {
  border-bottom: 1px solid #fff;
}

/****************************************
          main
*****************************************/
.main_img {
  position: relative;

  width: 100%;
  height: auto;

  margin-top: 10vh;
  margin-bottom: 10vh;
}
/****************************************
          header
*****************************************/
/*ロゴの大きさを調整*/
#logo img {
  margin-top: 7px;
  max-width:80%;
}

.header {
  z-index: 100;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #000;
  align-items: center;
  position: fixed;
}

.menu-item {
  display: inline-block;
  font-size: 20px;
  padding: 0px;
  margin-right: 20px;
}

nav {
  width: 100%;
  height: 70px;
  position: relative;
}

.drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
}

/*ナビゲーション部分*/

.menu ul li {
  display: block;
  font-weight: bold;
  padding: 2em;
  text-decoration: none;
}

.menu-item {
  display: inline-block;
  font-size: 30px;

  padding: 0px;
  margin-right: 20px;
}


.menu {
  padding-top: 100px;
  padding-bottom: 250px;
  text-align: center;
  background: linear-gradient(to right, #00ffea, #ffb25a);
  transition: 0.5s ease-out; /*滑らかに表示*/
  transform: translateY(-150%); /*画面より100%外へ押し出し非表示にさせる*/
  -webkit-transform: translateY(-150%);
}

/*OPEN時の動き*/
.menu.open {
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%); /*メニューを元の位置へ戻す*/
}

/*トグルボタンのスタイルを指定*/
.Toggle {
  display: block;
  position: fixed; /* bodyに対しての絶対位置指定 */
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
  right: 15px;
}

.Toggle span {
  display: block;
  position: absolute;
  width: 35px;
  border-radius: 2px;
  border-bottom: solid 2px rgb(255, 255, 255);
  -webkit-transition: 0.35s ease-in-out; /*変化の速度を指定*/
  -moz-transition: 0.35s ease-in-out; /*変化の速度を指定*/
  transition: 0.35s ease-in-out; /*変化の速度を指定*/
}
/*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) {
  top: 5px;
}
.Toggle span:nth-child(2) {
  top: 16px;
}
.Toggle span:nth-child(3) {
  top: 28px;
}

.Toggle.active span {
  border-bottom: solid 2px rgb(0, 0, 0);
}
.Toggle.active span:nth-child(1) {
  top: 16px;
  /* 1番目のspanをマイナス45度に */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*--------------------ここからPCモニターの記述---------------*/
@media screen and (min-width: 762px) {
  /*ロゴの大きさを調整*/
  #logo img {
    margin-top: 10px;
    max-width: 250px;
  }

  nav {
    display: flex;
  }

  .Toggle {
    display: none;
  }
  .menu {
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0px;
    transform: translateY(0); /*画面より100%外へ押し出し非表示にさせる*/
    -webkit-transform: translateY(0%);
  }

  .menu-item {
    font-size: 25px;
    margin-right: 20px;
  }
  .menu-item a {
    color: #fff;
  }

  .menu-item a:hover {
    color: #b1b1b1;
    transition: 0.25s;
  }

  .underline {
    background: linear-gradient(to right, #00ffea, #ffd257);
    background-repeat: no-repeat;
    background-size: 0% 12%;
    background-position: bottom;
    transition: all 0.25s ease-in;
  }
  .underline:hover {
    background-size: 100% 12%;
  }

  .menu ul {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .menu ul li {
    padding: 0 1em;
    border-bottom: none;
  }
  .menu ul li:hover {
    background-color: transparent;
  }
}


/* youtube設定 */

#youtube-area{
  position: fixed;
  z-index: 1;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
 opacity: 0;    
}

#youtube {
  /*天地中央配置*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
  }
  
  /*youtubeがクリックされないためのマスク*/
  #youtube-mask{
      position: absolute;
      z-index: 2;/*下から2番目に表示*/
      top:0;
      width:100%;
      height: 100%;
  }
  

  .back{
    margin: 22vh 0 20vh;
  }